body {
  background-color:#151412;; /* Set the background color to white */
  margin: 0; /* Remove default margin */
  height: 100vh; /* Make sure the body covers the full viewport height */
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(154, 152, 152); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575757; 
}