.project-container {
  height: auto;
  width: 100%; 
  color: #ece9e2;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-color: #151412;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; 
}

.project-tile {
  background: #ece9e2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  padding: 8px; 
  width: 300px;
  height: 230px;
}

.project-tile img {
  max-width: 100%; 
  height: auto; 
}

/* Adjust tile size on smaller screens */
@media (max-width: 768px) {
  .project-tile {
    padding: 10px; /* Reduce padding for smaller screens */
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .project-tile {
    padding: 8px; /* Further reduce padding on very small screens */
  }
  .project-tile img {
    max-width: 60%; /* Limit image size to 80% of the tile width */
    height: auto; /* Maintain aspect ratio */
  }
  .project-grid {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}

.project-tile img {
  max-width: 80%; /* Limit image size to 80% of the tile width */
  height: auto; /* Maintain aspect ratio */
}
