.skills-container {
  height: 100vh;
  width: 100%;
  background-color: #151412;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.cyber-tile-small {
  background: #ece9e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 8px;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr; /* 1 column on extra small screens */
  }
}
